<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succes Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <main>
        <div class="login">

            <img src="githublogo.png" alt="">

            <div class="texts">
                <h1>Welcome back!</h1>
                <strong>Name</strong>: <%=userData.name%><br>
                <strong>Username</strong>: <%=userData.login%><br>
                  <strong>Bio</strong>: <%=userData.bio%>
            </div>
        </div>
    </main>

</body>
</html>